:root {
   --bgBlack: #1b1c1e;
   --colorBlack: #1F1F1F; 
}
body, html {
   height: 100%;
}
.hero-img {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/imgs/Dev.jpg") ;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.hero-text {
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
   color: white;
   font-weight: bold;
   border: 3px solid #f1f1f1;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   width: 80%;
   padding: 20px;
   text-align: center;
}
/*Projects*/
.card {
   height: 100%;
   border: 1px solid var(--bgBlack);
}
/* Contato */
.footer {
   left: 0;
   bottom: 0;
   padding: 25px;
   width: 100%;
   background-color:  var(--bgBlack);
   color: #f1f1f1;
   text-align: center;
}
.link-ctt {
   color: var(--colorBlack);
   font-size: larger;
   text-decoration: none;
   padding: .3rem;
   width: 124px;
   
}
.layout-ctt {
   height: 20vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   text-align: center;
   margin-bottom: 1rem;
   
}
/* Navegação */
.navbar{
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 3;
}
.hidden {
   visibility: hidden;
}
.icon-img {
   width: 18px;
   height: 18px;
}

@media (min-width: 481px) {
   .layout-ctt {
      flex-direction: row;
      justify-content: center;
      padding: 2rem;
   }
   .link-ctt {
      margin: 0 2rem;
   }
}