:root {
   --color1: #131FF2;
   --color2: #0F228C;
}
html, body {
   width: 100%;
   overflow-x: hidden;
}
form {
   max-width: 640px;
   margin: auto;
}
span {
   color: red;
}
img {
   width: 70%;
}
#content-div {
   width: 75%;
}
#content-div p {
   font-family: 'Courier New', Courier, monospace;
}
#introduction {
   height: 100vh;
}
#contact div {
   margin: auto;
}
.row {
   height: 50%;
}
.btn-color {
   color: #fff;
   background-color: var(--color1);
}
.btn-color:hover{
   color: #fff;
}

.footer-p {
   color: white;
   letter-spacing: 0.3rem;
}
