:root {
   --color1: #131FF2;
   --color2: #0F228C;
}
html, body {
   width: 100%;
}
form {
   max-width: 640px;
   margin: auto;
}
span {
   color: red;
}
img {
   width: 70%;
}
#content-div {
   width: 75%;
}
#content-div p {
   font-family: 'Courier New', Courier, monospace;
}
#introduction {
   height: 100vh;
}
#contact {
   height: 60vh;
}
.row {
   height: 50%;
}
.btn-color {
   color: #fff;
   background-color: var(--color1);
}
.btn-color:hover{
   color: #fff;
}

/* Add a black background color to the top navigation */
.topnav {
   background-color: #333;
   overflow: hidden;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
   background-color: #04AA6D;
   color: white;
 }