:root {
   --color1: #131FF2;
   --color2: #0F228C;
}
html, body {
   width: 100%;
}
form {
   max-width: 640px;
   margin: auto;
}
span {
   color: red;
}
img {
   width: 70%;
}
#content-div {
   width: 75%;
}
#content-div p {
   font-family: 'Courier New', Courier, monospace;
}
#introduction {
   height: 100vh;
}
#contact {
   height: 60vh;
}
.row {
   height: 50%;
}
.btn-color {
   color: #fff;
   background-color: var(--color1);
}
.btn-color:hover{
   color: #fff;
}
